@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(#C70039, #FFC300);
}
.number {
  padding-bottom: 10vh;
  font-size: 5rem;
  font-weight: 700;
  color: white;
}
.plus-btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}